<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Robo Eye</title>
  </head>

  <body>
    <div class="back-image"></div>
    <div class="overlay"></div>
    <main>
      <img src="/images/logo3.png" alt="logo" />
      <span class="logo-text">RoboEye</span>
      <!--
        <div class="space1"></div>
        <div class=""></div>
      -->
      <form
        id="speech-form"
        method="get"
        action="/search"
        onclick="startDictation()"
      >
        <div class="speech">
          <input
            type="text"
            name="speech"
            id="transcript"
            placeholder="Speak"
          />
          <div class="box">
            <div class="object">
              <div class="outline" id="delayed1"></div>
              <div class="outline" id="delayed"></div>
              <div class="button" id="circle"></div>
              <div class="button" id="circlein">
                <svg
                  class="mic-icon"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 1000 1000"
                  enable-background="new 0 0 1000 1000"
                  xml:space="preserve"
                  style="fill:#1E2D70"
                >
                  <g>
                    <path
                      d="M500,683.8c84.6,0,153.1-68.6,153.1-153.1V163.1C653.1,78.6,584.6,10,500,10c-84.6,0-153.1,68.6-153.1,153.1v367.5C346.9,615.2,415.4,683.8,500,683.8z M714.4,438.8v91.9C714.4,649,618.4,745,500,745c-118.4,0-214.4-96-214.4-214.4v-91.9h-61.3v91.9c0,141.9,107.2,258.7,245,273.9v124.2H346.9V990h306.3v-61.3H530.6V804.5c137.8-15.2,245-132.1,245-273.9v-91.9H714.4z"
                    />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </form>

      <a class="setting" href="/name">Setup Robo-Eye</a>
      <div class="toggle"><div class="slide"></div></div>
    </main>

    <script src="/javascripts/jquery-3.3.1.min.js"></script>

    <script>
      function startDictation() {
        if (window.hasOwnProperty("webkitSpeechRecognition")) {
          var el = document.getElementById("delayed1");
          var el2 = document.getElementById("delayed");
          var el3 = document.getElementById("speech-form");
          el.classList.add("anim");
          el2.classList.add("anim");
          el3.style.paddingTop = "58.2%";

          var recognition = new webkitSpeechRecognition();

          recognition.continuous = false;
          recognition.interimResults = false;

          recognition.lang = "en-US";
          recognition.start();

          recognition.onresult = function(e) {
            document.getElementById("transcript").value =
              e.results[0][0].transcript;
            recognition.stop();
            document.getElementById("speech-form").submit();
          };

          recognition.onerror = function(e) {
            recognition.stop();
          };

          // el.classList.remove("anim");
          // el2.classList.remove("anim");
        } else {
          console.log("no speecch recog found");
        }
      }

      $(function() {
        $(".toggle").on("click", function() {
          if ($(this).hasClass("on")) {
            $(this).removeClass("on");
            $(".setting").css("pointer-events", "none");
          } else {
            $(this).addClass("on");
            $(".setting").css("pointer-events", "auto");
          }
        });
      });
    </script>
  </body>
</html>
